[Unit]
Description=Prometheus exporter for machine metrics

[Service]
Restart=always
User=nginxexporter
ExecStart=/usr/local/bin/nginx_exporter
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no

[Install]
WantedBy=multi-user.target